/* font lato  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root{
    /*   color variables */
--clr-primary: #d0def2;
--clr-primary-light: #f3f8fe;
--clr-primary-dark: #a7bad3;
--clr-gray100: #f9fbff;
--clr-gray150: #f4f6fb;
--clr-gray200: #eef1f6;
--clr-gray300: #e1e5ee;
--clr-gray400: #767b91;
--clr-gray500: #4f546c;
--clr-gray600: #2a324b;
--clr-gray700: #161d34;
}
body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    display: grid;
    justify-content: center;
    color: var(--clr-gray500);
    font-size:16px;
    background-color: var(--clr-primary-light);
}


/* end global rules  */
h1.title{
  text-align: center;
}
table{
  border-collapse: collapse;
  box-shadow: 20px 20px 20px 5px var(--clr-primary-dark);
  background: white;
  text-align: left;
  width: 80vw;
  
}
#StudentsTable1{
  margin-bottom: 80px;
  text-align: center;
}
caption{
    font-size: 22px;
    color: var(--clr-gray500);
    font-weight: 700;
    padding: 20px;
    margin-left: 100px;
}
th{
    background-color: var(--clr-primary);
    padding: 12px 32px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-size: 12px;
    font-weight: 900;

}
td {
    padding: 16px 32px;
    text-transform: capitalize;
  }

  tr:nth-child(even) {
    background-color:  var(--clr-primary-light);
  }

  tbody tr:nth-child(1) td:nth-child(1){
    width: 20px;
  }
  tbody tr:nth-child(1) td:nth-child(1)::before{
    /* content: url(../images/award1.png); */
    /* width: 20px; */

  }

  .star{
    color: #F8C12F;
  }




    /* Smartphones (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      /* Styles */
      #StudentsTable1 {
        width: 300px;
      }
    
      }
      
      /* Smartphones (landscape) ----------- */
      @media only screen and (min-width : 321px) {
      /* Styles */
      }
      
      /* Smartphones (portrait) ----------- */
      @media only screen and (max-width : 320px) {
      /* Styles */
      }
      
      /* iPads (portrait and landscape) ----------- */
      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
      /* Styles */
      }
      
      /* iPads (landscape) ----------- */
      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
      /* Styles */
      }
      
      /* iPads (portrait) ----------- */
      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
      /* Styles */
      }
      /**********
      iPad 3
      **********/
      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
      /* Styles */
      }
      
      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
      /* Styles */
      }
      /* Desktops and laptops ----------- */
      @media only screen  and (min-width : 1224px) {
      /* Styles */
      }
      
      /* Large screens ----------- */
      @media only screen  and (min-width : 1824px) {
      /* Styles */
      }
      
      /* iPhone 4 ----------- */
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
      /* Styles */
      }
      
      @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
      /* Styles */
      }